header{
    background-color: #0054a2;
    padding: 10px 15px;
}

.mainImg {
    height: 100px;
    width: 100px;
}

.hero{
    display: flex;
    flex-direction: row;
    background-size: auto;
    background-color:#0054a2;
}

.heroTitle{
    padding-left: 30px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}

.button{
    padding: 10px;
    padding-top: 10px;
    padding-left: 15px;
    color: white;
}

.button:hover{
    color:black;
}
